In [2]:
# Don't run me until you find the output first!
a = 1
b = 2
c = "Fish"
if a == 5:
    print ("1")
    if b == 1:
        print("2")
# here comes an else-if 
elif a == 2 or c == "Fish":
    print("3")
    
    if b == 1:
        print("4")
        if b == 2:
            print("5")
    if b == 2:
        print("6")
    if c == "Fish":
        if a == 1:
            if b == 100:
                print("7")
            else:
                print("8")
    elif a == 1:
        print("9")
print ("10")

3
6
8
10

In [4]:
for i in range(6,-1,-1):
    print(i)

6
5
4
3
2
1
0

In [8]:
fish_list = ["salmon", "trout", "parrot", "clown", "dory"]

for item_index, fish in enumerate(fish_list):
    print(f"{1+item_index}: {fish}")

1: salmon
2: trout
3: parrot
4: clown
5: dory

In [9]:
# var_1 is first defined as an integer
var_1 = 1
print(f"{var_1} is {type(var_1)}")

# var_1's type is changed to string
var_1 = "hi!"
print(f"{var_1} is {type(var_1)}")

# more types
var_1 = 0.312
print(f"{var_1} is {type(var_1)}")
var_1 = 3.
print(f"{var_1} is {type(var_1)}")
var_1 = 3+2j
print(f"{var_1} is {type(var_1)}")
var_1 = True
print(f"{var_1} is {type(var_1)}")

1 is <class 'int'>
hi! is <class 'str'>
0.312 is <class 'float'>
3.0 is <class 'float'>
(3+2j) is <class 'complex'>
True is <class 'bool'>

In [12]:
# From float to string
var_4 = 1.23
print(f"{var_4} is {type(var_4)}")
var_4 = str(var_4)
print(f"{var_4} is {type(var_4)}")
print("**")

1.23 is <class 'float'>
1.23 is <class 'str'>
**

In [17]:
a = 50
b = 4
print(f"a + b = {a + b}")
print(f"a - b = {a - b}")
print(f"a * b = {a * b}")
print(f"a / b = {a / b}")
print(f"a // b = {a // b}") # integer divison
print(f"a ** b = {a ** b}") # power
print(f"a % b = {a % b}") # modulo

a + b = 54
a - b = 46
a * b = 200
a / b = 12.5
a // b = 12
a ** b = 6250000
a % b = 2

In [18]:
a = 'Life\'s but a walking shadow, a poor player,' 
print(a)
a = "That struts and frets his hour upon the stage,"
print(a)
a = """And then is heard no more. It is a tale
Told by an idiot, full of sound and fury,
Signifying nothing."""
print(a)

Life's but a walking shadow, a poor player,
That struts and frets his hour upon the stage,
And then is heard no more. It is a tale
Told by an idiot, full of sound and fury,
Signifying nothing.

In [21]:
list_1 = ["a", "b", "c", "d", "e"]

print(f"list_1[-3] = {list_1[-3]}")
print(f"list_1[0:2] = {list_1[0:2]}")
print(f"list_1[:4:2] = {list_1[:4:2]}")
print(f"list_1[::-1] = {list_1[::-1]}")
print(f"list_1[-4:-1] = {list_1[-4:-1]}")

list_1[-3] = c
list_1[0:2] = ['a', 'b']
list_1[:4:2] = ['a', 'c']
list_1[::-1] = ['e', 'd', 'c', 'b', 'a']
list_1[-4:-1] = ['b', 'c', 'd']

In [29]:
list_1 = ["a", "b", "c", "d", "e"]
print(f"list_1 before {list_1}")

list_2 = list_1
list_2.append("Z")

print(f"list_1 after {list_1}")

list_1 before ['a', 'b', 'c', 'd', 'e']
list_1 after ['a', 'b', 'c', 'd', 'e', 'Z']

In [30]:
# Case 2:

list_1 = ["a", "b", "c", "d", "e"]
print(f"list_1 before function {list_1}")

def function_that_changes_list(input_list):
    input_list.append("Z")

function_that_changes_list(list_1)

print(f"list_1 after function {list_1}")

list_1 before function ['a', 'b', 'c', 'd', 'e']
list_1 after function ['a', 'b', 'c', 'd', 'e', 'Z']

In [31]:
# Case 1
list_1 = ["a", "b", "c", "d", "e"]
print(f"list_1 before {list_1}")

list_2 = list_1.copy()
list_2.append("Z")

print(f"list_1 after {list_1}")
print("**")

# Case 2
list_1 = ["a", "b", "c", "d", "e"]
print(f"list_1 before function {list_1}")

def function_that_changes_list(input_list):
    input_list.append("Z")

list_2 = list_1.copy()
function_that_changes_list(list_2)

print(f"list_1 after function {list_1}")

list_1 before ['a', 'b', 'c', 'd', 'e']
list_1 after ['a', 'b', 'c', 'd', 'e']
**
list_1 before function ['a', 'b', 'c', 'd', 'e']
list_1 after function ['a', 'b', 'c', 'd', 'e']

In [41]:
def function_is_palindrome(input_list):
    is_palindrome = True
    # Your code here
    n = len(input_list)
    for i in range(n):
            if input_list[i] != input_list[-1-i]:
                return False
    return is_palindrome

test_list_1 = ["cat", "dog", "fish", "dog", "cat"]
res_1 = function_is_palindrome(test_list_1)

test_list_2 = ["cat", "dog", "fish",  "bird", "dog", "cat"]
res_2 = function_is_palindrome(test_list_2)

test_list_3 = ["cat"]
res_3 = function_is_palindrome(test_list_3)

test_list_4 = ["cat", "cat"]
res_4 = function_is_palindrome(test_list_4)

if not (res_1 and not res_2 and res_3 and res_4):
    print("Test failed")
else:
    print("Correct! :)")

Correct! :)

In [43]:
tuple_1 = ("wash", "your", "hands", "with", "soap")

print(f"tuple_1 = {tuple_1}")

#tuple_1[2] = ("face")

sequence_1 = ["here", "comes", "the", "sun"]
print(f"{sequence_1} is {type(sequence_1)}")


# from list to tuple
sequence_1 = tuple(sequence_1)
print(f"{sequence_1} is {type(sequence_1)}")

#from tuple to list
sequence_1 = list(sequence_1)
print(f"{sequence_1} is {type(sequence_1)}")

tuple_1 = ('wash', 'your', 'hands', 'with', 'soap')
['here', 'comes', 'the', 'sun'] is <class 'list'>
('here', 'comes', 'the', 'sun') is <class 'tuple'>
['here', 'comes', 'the', 'sun'] is <class 'list'>